*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

/*
.parent{
    width: 50%;
    height: 400px;
    background-color: orange;
}

.box{
  width: 50%;
  margin-left: 50%;
  padding-top: 25%;
  display: inline-block;
  background-color: gray;  
}
*/
/*
.sidebar{
    width: 300px;
    height: 100%;
    background: black;
    float: left;
}

.content{
    float: left;
   width: calc(100% - 300px);
   height: 100%;
   background: #ccc; 
}
*/
/*
.box{
    width: calc((100% / 3) + 90px);
    height: 90px;
    background-color: red;

}
*/

/*vw = viewport width = largura do viewport - OBS: Não leva em conta a scrollbar*/
/*vh = viewport height = altura do viewport - OBS: Não leva em conta a scrollbar*/
/*
.box{
    width: 100vw; 
    height: 100vh;
    background-color: red;
}

.box2{
    width: 200%;
    height:10px;
}
*/
/*
.container{
    padding: 30px 0;
    background-color: #ccc;
    text-align: center;
}
.box{
    border: 2px solid black;
    width: 33.3%;
    height: 300px;
    max-width: 300px;
    margin-right: -4px;
    margin-bottom: -4px;
    background-color: red;
    display: inline-block;
}

.box:last-child{
    margin-right: 0;
}

.box :last-child{
    margin-right: 0;
}

@media screen and (max-width: 768px){

    .container{
        text-align: right;
        padding: 2% 20px;
    }
   .box{
    max-width:none ;
    width: 50%;
   }

   .box:nth-of-type(2){
    margin-right: -4px;
   }
}

@media screen and (max-width: 580px){
   .box{
    width: 100%;
    margin-right: 0;
   }
}
*/




/*
@media screen and (max-width: 768px){
    .container{
        text-align: center;
    }

    .box{
        float: none;
        display: inline-block;
        margin-bottom: -4px;
        width: 40%;

    }
}
*/
/*
@media screen and (min-aspect-ratio: 2/1){
    .box{
        width: 100%;
    }
}
 */



/*
@media screen and (max-aspect-ratio: 2/1){
    .box{
        width: 100%;
    }
}
*/


/*
768PX DE WIDTH OU 500PX DE ALTURA
@media screen and (max-width: 768px) , screen and (max-height: 500px){
    .box{
        width: 100%;
    }
}
*/


/*
768PX DE WIDTH E 500PX DE ALTURA
@media screen and (max-width: 768px) and (max-height: 500px) {
    .box{
        width: 100%;
    }
}
*/
/*
@media screen and (min-height: 580px) {
    .box{
        width: 100%;
    }
}



@media screen and (max-height: 580px) {
    .box{
        width: 100%;
    }
}
*/

/*
@media screen and (min-width: 320px) {
    .box{
        width: 100%;
    }
}

@media screen and (min-width: 580px) {
    .box{
        width: 50%;
    }
}
*/

/*
@media screen and (max-width: 580px) {
    .box{
        width: 50%;
    }
}

@media screen and (max-width: 320px) {
    .box{
        width: 100%;
    }
}
*/

.slider{
    width: 97%;
    margin: 0 auto;
    max-width: 700px;
    height: 500px;
    border: 1px solid #ccc;
    position: relative;
}

.img-slider{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 }

 .one{
    background-color: red;
    z-index: 3;
 }

 .two{
    left: 40px;
    background-color: orange;
    z-index: 2;
 }

 .three{
    left: 80px;
    background-color: pink;
    z-index: 1;
 }